{% extends "::base.html.twig" %}

{% block body %}
    <h1>Editar Grado</h1>

    <div class="formulario">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
